* {
    box-sizing: border-box;
}

.request {
    font-family: Sempione Grotesk, sans-serif;
}

.request .header-request {
    margin-top: 20px;
    margin-left: 45px;
    font-size: 32px;
    letter-spacing: 1px;
    color: #67656E;
}

.container {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: 540px;
    max-width: 875px;
    background: #FEEED6;
}

.item-form {
    padding-top: 22px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 16px;
}

.item-form label {
    font-weight: bold;
    color: #67656E;
}

.request-form .note {
    margin-top: 23px;
    margin-left: 20px;
    font-weight: normal;
    color: #9A9792;
}

input[type="text"]::-webkit-input-placeholder, textarea[type="text"]::-webkit-input-placeholder {
    color: #A9A8B1;
}

input[type="text"]::-webkit-input-placeholder, textarea[type="text"]::-moz-placeholder {
    color: #A9A8B1;
}

.item-form input {
    margin-top: 6px;
    padding-left: 12px;
    font-size: 16px;
    width: 100%;
    height: 41px;
}

.item-form textarea {
    margin-top: 6px;
    padding-left: 12px;
    font-size: 16px;
    padding-top: 10px;
    width: 100%;
    height: 130px;
}

.button-container {
    margin-top: 13px;
    margin-right: 195px;
    margin-bottom: 15px;
}

.button-container input[type="submit"] {
    width: 175px;
    height: 38px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #378DB2;
    text-align: right;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: #2B7086;
}
