.table-workers {
    border-collapse: collapse;
    font-family: Betm SemiBold, sans-serif;
    font-size: 20px;
    border: 1px solid lightgrey;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

.table-workers tr {
    height: 53px;
}

.table-workers tr:nth-child(odd) {
    border: 1px solid lightgrey;
    background: #EEEEEE;
}

.table-workers td {
    border: 1px solid lightgrey;
    padding: 18px 15px 15px;
}

.table-workers th {
    text-align: left;
    padding: 18px 15px 15px;
    border: 1px solid lightgrey;
    background: #2798D4;
    color: #FFFFFF;
}

.first-name {
    width: 150px;
}

.last-name {
    width: 148px;
}

.job-title {
    width: 290px;
}

.twitter {
    width: 175px;
}

