body {
    background: #FEEDD8;
}

.course-information div {
    margin-top: 17px;
    font-size: 17px;
}

.course {
    font-family: Sempione Grotesk, sans-serif;
    margin-left: 10px;
    margin-top: 5px;
}

.course-information {
    margin-top: 22px;
}

.course h1 {
    font-size: 27px;
    width: 700px;
    color: #434E58;
}

div > span {
    color: #2AA0BC;
    font-weight: bold;
}

span ~ span {
    color: #686C76;
    font-weight: normal;
}

.text-extension {
    color: #686C76;
    text-decoration: line-through;
}

span ~ p {
    margin-top: 17px;
    width: 815px;
    text-indent: 15px;
    color: #686C76;
    text-align: left;
}